<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xuanyuetech.tocoach">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:name="com.xuanyuetech.tocoach.ToCoachApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:sharedUserId="android.uid.system"
        android:usesCleartextTraffic="true"
        tools:targetApi="q">

        <activity
            android:name="com.xuanyuetech.tocoach.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            android:configChanges="keyboardHidden|orientation"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.xuanyuetech.tocoach.activity.VideoEditorActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name="com.xuanyuetech.tocoach.activity.DiaryActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name="com.xuanyuetech.tocoach.activity.SearchActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name="com.xuanyuetech.tocoach.activity.NewFolderActivity"
            android:parentActivityName="com.xuanyuetech.tocoach.activity.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:configChanges="keyboardHidden|orientation"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name="com.xuanyuetech.tocoach.activity.FolderActivity"
            android:parentActivityName="com.xuanyuetech.tocoach.activity.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="keyboardHidden|orientation"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name="com.xuanyuetech.tocoach.activity.FolderProfileActivity"
            android:parentActivityName="com.xuanyuetech.tocoach.activity.FolderActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name="com.xuanyuetech.tocoach.activity.FolderProfileEditActivity"
            android:parentActivityName="com.xuanyuetech.tocoach.activity.FolderProfileActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name="com.xuanyuetech.tocoach.activity.VideoPlayerActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.xuanyuetech.tocoach.activity.WelcomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>